{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
 <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
<title>about</title>
</head>


<body>
<div class="container px-6">
<section id="contact" class="contact">
<h4>Hello Redions , You are here to know…….</h4><br>
<h1>Who is RadioactiveGuy?</h1>
<p>That would be me! The creator of the site .<br>
I am a first year computer science student that has a passion for programming , science<br>
and everything tech! Teaching and writing guides is my favorite past-time and allows for me <br>
to reinforce my learning while providing value to all of my supporters. As I learn and develop<br>
my programming skills I will be sharing all my knowledge on this site.</p><br>
<br>
<h1>What is Radioactiveguy.com?</h1><br>
<p> On this site I post all kinds of tech,science,programming and h*cking tutorials and guides <br>
From learning the basics of cybersecurity,programming & technology behind things & how <br>
they work creating Artificial Intelligence and cool projects applications. Every tutorial <br>
consists of two main components, visual and text. If you're more interested in listening and <br>
watching almost EVERY guide & tutorial has a video component.</p> <br>
</section>
</div>
</body>
 

 

{% endblock content %}

