{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/bloghome.css' %}">
</head>
<body>
<div class="container my-3">
    <h2>Article by RadioactiveGUY</h2>
    {% for post in posttech  %}
    <div class="position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article  by {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{{post.content| truncatechars:100|safe}}</p>
            <div class="my-2">
            	<a href="/blog/{{post.slug}}" role="button" class="btn btn-">Continue reading</a>
            </div>
            
        </div>
         
    </div>

    {% endfor %}
</div>
 
</body>



{% endblock content %}
